/* .write-review-main {
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
}

.write-review-header {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: var(--color-black);
}

.write-review-content {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;
  color: var(--color-text);
}

.write-review-btn {
  font-family: "Roboto";
  padding: 10px 20px;
  background: var(--color-green);
  border-radius: 5px;
  color: var(--color-white);
  border: 0px;
  text-align: center;
  font-size: 18px;
}

.write-review-img {
  width: 600px;
  height: 600px;
}

.write-review-header-content {
  margin-top: 100px;
}

@media screen and (min-width:300px) and (max-width: 800px) {
  .write-review-main {
    display: block;
  }

  .write-review-img {
    width: 300px;
    height: 300px;
  }
} */

.write-review-header {

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: #403D39;
}

@media screen and (max-width:768px) {
  .write-review-header {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #403D39;
    width: 340px;
    line-height: 36px;
  }
}

.write-review-para {
  padding-top: 20px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  /* color: #7B7B7B; */
}

.write-review-btn {
  background: #3EB489;
  border-radius: 5px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
  border: none;
  padding: 8px 15px;
}

.write-review-img {
  width: 600px;
  height: 550px;
}

@media screen and (max-width:768px) {
  .res-sm {
    display: flex;
    align-items: center;
    justify-content: center;
    order: 2;
  }

  .write-review-img {
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width:768px) {
  .write-review-bus-sm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width:768px) {
  .write-review-header {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #403D39;
    text-align: center;
    margin-top: 20px;
    line-height: 20px;

  }
}

@media screen and (max-width:768px) {
  .write-review-para {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #7B7B7B;
    text-align: justify;
  }
}

@media screen and (max-width:768px) {
  .write-review-btn {
    background: #3EB489;
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    padding: 10px 8px;
    width: 150px;
  }
}