/* .homepage-services {
  width: clamp(700px, 100%, 1920px);
  height: 540px;
}



.servicesheader-title {
  min-height: 20px;
  text-align: center;
}

.services-header-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 90px;
  color: #ffffff;
  padding-top: 1rem;
}

.homepage-services-content {
  padding: 0rem 4rem 0rem 4rem;
}

.homepage-services-btn {
  background: #ffffff;
  border-radius: 5px;
  width: 114px;
  height: 28px;
}

a.service-list-TextStyle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 30px;
  color: #ffffff;
  text-align: justify;
}

.service-section-card {
  margin: 1rem 0rem 1rem 0rem;
  text-align: center;
}

a.service-list-TextStyle img {
  display: block;
  margin: 0 auto;
  height: 100px;
  width: 80px;
}

.service-section-view-more {
  min-height: 20px;
  text-align: center;
  margin-top: 2rem;
  align-items: center;
}

.service-section-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #403d39;
  border: 1px solid #403d39;
  border-radius: 5px;
  background: #ffffff;
  width: 120px;
  height: 40px;
}


.service-section-column {
  float: left;
  width: 25%;
}

.service-section-row:after {
  content: "";
  display: table;
  clear: both;
} */


.home-service-main-page {
  width: 100%;
  /* height: 300px; */
  background: linear-gradient(86.12deg,
      var(--color-blue) 0%,
      var(--color-light-blue) 100%);
}

@media screen and (max-width:760px) {
  .home-service-main-page {
    width: 100%;
    /* height: 800px; */
    padding: 15px 0px;
    background: linear-gradient(86.12deg,
        var(--color-blue) 0%,
        var(--color-light-blue) 100%);
  }

}

.home-services-view-btn {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  color: #403D39;
  background: #fff;
  padding: 8px 15px;
  border-radius: 5px;
}

.service {

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: #FFFFFF;
}

.sevices-image {
  width: 70px;
}

.services-name {

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
}