.react-tabs__tab {
    display: inline-block;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    position: relative;
    list-style: none;
    padding: 10px 15px;
    cursor: pointer;
    margin: 0;
    color: black;
}

.react-tabs__tab--selected {
    background: #3EB489;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    color: #fff;
    border-radius: 5px 5px 0 0;
}

.single-product-content {
    border: 1px solid #828282;
    border-radius: 10px;
    padding: 25px;
    margin: 20px 0px 40px 30px;
    /* height: 370px; */
}


@media screen and (max-width:1000px) {
    .single-product-content {
        margin-left: 20px;
    }
}