.contact-banner-main {
    width: 100%;
    height: 400px;
    background: linear-gradient(86.12deg,
            var(--color-blue) 0%,
            var(--color-light-blue) 100%);
}

@media screen and (max-width: 1300px) {}

.industry-patches {
    display: flex;
    justify-content: space-between;
}

.industry-right-patch {
    height: 300px;
    width: 35%;
}

.industry-left-patch {
    height: 300px;
    width: 35%;
}



@media screen and (max-width:768px) {

    .contact-top-cards {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contact-top-card {
        margin: 50px 0px 10px 0px;
    }

    .contact-banner-main {
        width: 100%;
        height: 730px;
        background: linear-gradient(86.12deg,
                var(--color-blue) 0%,
                var(--color-light-blue) 100%);
    }
}