.bottom-footer {
    background: linear-gradient(89.96deg, #0F2B95 0%, #468BFD 100%);
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-bottom-content {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
}

@media screen and (max-width:820px) {
    .footer-bottom-content {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        color: #FFFFFF;
        text-align: center;
    }
}